body
{
    margin: 0;
    padding: 0;
    background: black;
}
.header
{
	background: black;
	height: 60px;
	width: 100%;
}
.vertical-center-row 
{
    margin-top: 10%;
}
#appmenu
{
	background-color: #c15557;
    height: 100%;	
    top: 0;
    position: absolute;
    left: 0;
}
#appbody
{
    height: 100%;
    background: #FFF;
    position: absolute;
    margin-left: 237px;
    top: 0;
}